:root{
    --c92-bg: #083b4c;
    --c92-box: #1389b2;
    --c92-box-mult-3: #0cd6a1;
    --c92-box-mult-5: #ffd166;
    --c92-box-mult-3-5: #f0466f;
}

body{
    background-color: var(--c92-bg);
}

.debug{
    border: 1px solid black;
}